* {
    margin: 0;
    padding: 0;
}

body {
    background: #c9dbe7;
}

.chat-box {
    width: 900px;
    margin: 0 auto;
    background: #f4f5fa;
    background: #ddd;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    border-radius: 6px;
}
.chat-box__users {
    width: 35%;
    height: 100%;
    background: #454753;
    display: flex;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.chat-box__messages {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chat-box__messages__user-info {
    height: 70px;
    width: 100%;
    border-bottom: 2px solid #fff;
}
.chat-box__messages__content {
    width: 100%;
    height: calc(100% - 212px);
    box-sizing: border-box;
    border-bottom: 2px solid #fff;
    padding: 20px;
    overflow: auto;
}
.chat-box__messages__content__message {
    width: 100%;
    height: 100px;
    display: block;
    margin-bottom: 20px;
}
.chat-box__messages__content__message .user-info {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
}
.original--my-self .user-info {
    flex-direction: row-reverse;
}
.chat-box__messages__content__message .user-info span {
    display: inline-flex;
}
.chat-box__messages__content__message .user-info [class^="online-status"] {
    width: 12px;
    height: 12px;
    background: #91ba78;
    display: inline-flex;
    border-radius: 50%;
    margin-right: 5px;
}
.chat-box__messages__content__message .user-info .online-status--online {
    background: #91ba78;
}
.chat-box__messages__content__message .user-info .online-status--offline {
    background: #dd8c66;
}
.user-name {
    display: inline-flex;
    margin-right: 5px;
}
.message {
    background: #91ba78;
    margin-top: 15px;
    border-radius: 6px;
    position: relative;
    min-width: 20%;
    max-width: 100%;
    width: auto;
    display: block;
    float: left;
    box-sizing: border-box;
    padding: 10px;
}
.original--my-self .message {
    float: right;
    background: #dd8c66;
}
.message::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 20px;
    width: 0;
    height: 0;

    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #91ba78;
}
.original--my-self .message::before {
    right: 20px;
    left: unset;
    border-bottom: 10px solid #dd8c66;
}
.message::after {
    clear: both;
}
.chat-box__messages__form {
    width: 100%;
    height: 140px;
}

@media screen and (max-width: 600px) {
    
}